.about2-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("public/image/bg-1500w.png");
}
.about2-footer {
  left: 52px;
  width: 100%;
  bottom: 0px;
  display: flex;
  position: absolute;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.about2-navlink {
  width: 127px;
  height: 59px;
  text-decoration: none;
}
.about2-header {
  top: 0px;
  left: 52px;
  width: 100%;
  display: flex;
  position: absolute;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
.about2-image {
  width: 70px;
  height: 70px;
}
.about2-icon-group {
  display: flex;
}
.about2-burger-menu {
  display: none;
}
.about2-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}
.about2-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.about2-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about2-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.about2-image1 {
  height: 2rem;
}
.about2-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about2-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.about2-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.about2-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.about2-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.about2-text01 {
  color: #c7a10f;
}
.about2-navlink1 {
  top: 49px;
  right: 0px;
  position: absolute;
  text-decoration: none;
}
.about2-container2 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 1387px;
  bottom: 0px;
  height: 722px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  justify-content: flex-start;
  background-color: rgba(230, 219, 219, 0.55);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.about2-container3 {
  top: 17px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 688px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.about2-navlink2 {
  top: 105px;
  flex: 1;
  right: 22px;
  width: 526px;
  height: 106px;
  position: absolute;
  align-self: flex-end;
  box-shadow: 5px 5px 10px 0px #543c3c;
  text-align: center;
  text-decoration: none;
}
.about2-navlink3 {
  top: 229px;
  flex: 1;
  right: 22px;
  width: 526px;
  height: 106px;
  position: absolute;
  align-self: flex-end;
  box-shadow: 5px 5px 10px 0px #543c3c;
  text-align: center;
  text-decoration: none;
}
.about2-navlink4 {
  top: 348px;
  flex: 1;
  right: 19px;
  width: 526px;
  height: 106px;
  position: absolute;
  align-self: flex-end;
  box-shadow: 5px 5px 10px 0px #543c3c;
  text-align: center;
  text-decoration: none;
}
.about2-text02 {
  top: 0px;
  left: 10px;
  right: 600px;
  bottom: 0px;
  margin: auto;
  position: absolute;
  font-size: 25px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  line-height: 1.15;
}
.about2-text03 {
  font-size: 50px;
  font-weight: 700;
}
.about2-text14 {
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.15;
}
.about2-text25 {
  font-size: 50px;
}
