.misvis-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/image/bg-1500w.png");
}
.misvis-footer {
  left: 52px;
  width: 100%;
  bottom: 0px;
  display: flex;
  position: absolute;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.misvis-navlink {
  width: 127px;
  height: 59px;
  box-shadow: 5px 5px 10px 0px #543c3c;
  text-decoration: none;
}
.misvis-header {
  top: 0px;
  left: 52px;
  width: 100%;
  display: flex;
  position: absolute;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
.misvis-image {
  width: 70px;
  height: 70px;
}
.misvis-icon-group {
  display: flex;
}
.misvis-burger-menu {
  display: none;
}
.misvis-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}
.misvis-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.misvis-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.misvis-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.misvis-image1 {
  height: 2rem;
}
.misvis-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.misvis-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.misvis-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.misvis-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.misvis-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.misvis-text1 {
  color: #c7a10f;
}
.misvis-navlink1 {
  top: 49px;
  right: 0px;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #543c3c;
  text-decoration: none;
}
.misvis-container2 {
  top: 0px;
  left: 0px;
  right: 0px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  bottom: 0px;
  height: 812px;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
