.orgs-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/image/bg-1500w.png");
}
.orgs-footer {
  left: 52px;
  width: 100%;
  bottom: 0px;
  display: flex;
  position: absolute;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.orgs-navlink {
  width: 127px;
  height: 59px;
  box-shadow: 5px 5px 10px 0px #543c3c;
  text-decoration: none;
}
.orgs-header {
  top: 0px;
  left: 52px;
  width: 100%;
  display: flex;
  position: absolute;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
.orgs-image {
  width: 70px;
  height: 70px;
}
.orgs-icon-group {
  display: flex;
}
.orgs-burger-menu {
  display: none;
}
.orgs-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}
.orgs-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.orgs-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.orgs-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.orgs-image1 {
  height: 2rem;
}
.orgs-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.orgs-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.orgs-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.orgs-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.orgs-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.orgs-text01 {
  color: #c7a10f;
}
.orgs-navlink1 {
  top: 49px;
  right: 0px;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #543c3c;
  text-decoration: none;
}
.orgs-container2 {
  top: 94px;
  left: 50px;
  right: 50px;
  height: 812px;
  display: flex;
  position: absolute;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
.orgs-text02 {
  font-size: 30px;
  font-style: normal;
  text-align: justify;
  font-weight: 500;
  line-height: 1.5;
}
.orgs-text04 {
  font-weight: 700;
}
.orgs-text06 {
  font-weight: 700;
}
.orgs-text07 {
  font-weight: 700;
}
.orgs-text11 {
  font-weight: 700;
}
.orgs-text16 {
  font-weight: 700;
}
